tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
nvim/lua/plugins/meta.lua
.claude
bash/setup-meta.sh
*.elc
*.eln
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/.local/
.emacs.d/recentf
.emacs.d/history
.emacs.d/tramp
.emacs.d/transient/
.emacs.d/eshell/
.emacs.d/.lsp-session-v1
.emacs.d/ielm-history.eld
.emacs.d/tree-sitter/*.so
*maple.sl
*~
#*#
.#*
package-quickstart.el
package-quickstart.elc
*elpa*
